/* General styles */
body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* Button styles */
button {
  margin: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.choice-button {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Make the button round */
}

.choice-button.paper {
  width: 240px;
}

/* Score styles */
#score {
  margin-top: 20px;
  display: none; /* Initially hides the score */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
      max-width: 100%;
      padding: 0 20px;
  }
}

footer {
  width: 100%;
  bottom: 0;
  margin-top: 10%;
}

label {
  margin-top: 70px;
}