body{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 2%;
}

h1{
  margin: 2%; 
}

h2{
  margin: 2%;
  margin-bottom: 10%; 
}


.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  margin-left: 4%;
}

#choices {
  margin-top: 20px;
}

#score {
  margin-top: 20px;
}

#game-over {
  margin-top: 20px;
}

.footer {
  margin-top: 7%;
}

